{% load staticfiles %}
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Menu Principal</li>
                <li>
                    <a href="{% url url_name_home %}" class="waves-effect waves-primary"><i
                            class="ti-home"></i><span> Página Inicial </span></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>